{{define "footer"}}
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 menu">
      <ul>
        <li class="title">Code School</li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/courses">Coporate Training</a></li>
      </ul>
      <!-- <ul> -->
      <!--   <li class="title">Learning</li> -->
      <!--   <li><a href="#">Lessons</a></li> -->
      <!-- </ul> -->
      <ul>
        <li class="title">Design &amp; Develop</li>
        <li><a href="/our_work">Our Services</a></li>
        <!-- <li><a href="#">Our Experience</a></li> -->
      </ul>
      <ul>
        <li class="title">Contact Us</li>
        <li><a href="/contact">Digital Training</a></li>
        <li><a href="/our_work">Start a Project Together</a></li>
      </ul>
      </div>
    </div>
    <div class="contact text-right">
      <div class="title mb-1">Code Time - Better Workflow</div>
      <div class="mb-1">
        <span>email:&nbsp;</span>
        <a href="mailto:contact@thecodetime.com">contact@thecodetime.com</a>
      </div>
      <div>
        <span>facebook:&nbsp;</span>
        <a href="https://www.facebook.com/thecodetime" target="_blank">@thecodetime</a>
      </div>
      <div>
        <span>call:&nbsp;</span>
        <a href="tel:66-80-441-4062">+(66)80 441 4062</a>
      </div>
    </div>
    {{template "codetime-diamond"}}
  </div>
</div>
{{end}}
