{{define "open_graph"}}
<meta property="og:title" content="Code Time - Develop Better"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content={{block "og_url" .}}"https://www.thecodetime.com"{{end}}/>
<meta property="og:image" content={{block "og_image" .}}"https://www.thecodetime.com/assets/images/codetime_course.jpg"{{end}}/>
<meta property="og:description" content={{block "og_description" .}}"Code Time, Code School &amp; Digital Agency, offers better software development courses and better business solutions. Check out our courses and sevices."{{end}}/>
{{end}}
