{{define "styles"}}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
  integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
  rel="stylesheet"
  crossorigin="anonymous">
<link rel="stylesheet" href="/assets/styles/dist/main.css">
{{end}}
