@font-face {
  font-family: 'renner_medium';
  src: url('/assets/fonts/renner-medium-webfont.woff2') format('woff2'),
       url('/assets/fonts/renner-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
