{{define "content"}}
<div id="course">
  <div class="hero-image"
    style="background-image:
    linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.25)),
    url('/assets/images/courses/agile_developer/board.jpg')">
    <div class="container">
      <div class="hero-text text-center">Agile Developer</div>
    </div>
  </div>
  <div class="container mb-5 story-container">
    <div class="section mt-5 mb-4">
      <h5>Agile Developer</h5>
      <hr class="my-1">
      <p class="thai">การทำงานในสายพัฒนาซอฟท์แวร์ แค่เขียนโค้ดเก่งและเร็วอย่างเดียวคงไม่พอ การทำงานเป็นทีม
มีความสำคัญอย่างมาก ในโลกของนักพัฒนาซอฟท์แวร์จึงจำเป็นต้องมีกระบวนการ
ขั้นตอนในการจัดการงานต่างๆระหว่างทีม การประเมินเวลา รวมถึงการทำงานร่วมกันอย่างมืออาชีพ
เพื่อที่จะส่งมอบงานให้ลูกค้าอย่างรวดเร็วและมีประสิทธิภาพที่สุด</p>
      <p class="thai">คอร์สนี้เราจะพูดถึงกระบวนการขั้นตอนการทำงานสายพัฒนาซอฟท์แวร์ ตั้งแต่เริ่มต้น รับงานจนถึงส่งมอบงาน เพื่อที่ผู้เรียนจะได้เห็นภาพการทำงานจริงๆขององค์กร IT ชั้นนำ ทั้งยังสามารถนำไปประยุกต์ใช้กับทีมของตัวเอง เพื่อส่งงานลูกค้าได้อย่างมีประสิทธิภาพ</p>
      <p class="thai">หลักสูตรนี้จะสอนให้เห็นถึงการใช้หลักการการทำงานแบบ Agile methodology ตั้งแต่กระบวนการคิด ขั้นตอนต่างๆไม่ว่าจะเป็นงานสำหรับ support ที่ใช้กระบวนการแบบ kanban หรืองานพัฒนาที่ใช้ กระบวนการ scrum คอร์สนี้เป็น workshop ซึ่งผู้เรียนจะได้ทดลองการทำงานจริงๆ เพื่อเตรียมความพร้อมสำหรับการทำงานในองค์กรต่างๆ</p>
    </div>

    <div class="topics thai">
      <h5>เนื้อหาที่ครอบคลุม</h5>
      <hr class="my-1">
      <ul>
        <li>
          <div>หัวใจของหลักการคิดแบบ Agile methodology</div>
          <div class="subtext">ปัญหาของการทำงานแบบ waterfall, รูปแบบโปรเจคที่ควรใช้ agile, รูปแบบการทำงานแบบต่างๆ</div>
        </li>
        <li>
          <div>การจัดการ source code ภายในทีม และแก้ไข conflicts ต่างๆ</div>
          <div class="subtext">Git pull, push, solve conflicts, undo things, etc.</div>
        </li>
        <li>
          <div>กระบวนและขั้นตอนการทำงานของ Scrum และ Kanban</div>
          <div class="subtext">เครื่องมือและโปรแกรมต่างๆที่ช่วยเหลือในการทำงานและการจัดการ</div>
          <div class="subtext">Sprint, Planning, Refinement, Retrospective, etc.</div>
        </li>
        <li>
          <div>Workshop เพื่อทดลองการทำงานด้วยกระบวนการคิดแบบ agile</div>
          <div class="subtext">เน้น workflow การทำงาน การพัฒนาทีมและผลงาน</div>
        </li>
      </ul>
    </div>

    <div class="thai course-images">
      <h5>ภาพบรรยากาศ Agile Developer</h5>
      <hr class="my-1">
      <br>
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="/assets/images/code_school/agile_workshop_3.jpg"
            class="img-fluid" alt="Agile Developer Workshop 1">
        </div>
        <div class="col-md-4">
          <img src="/assets/images/code_school/agile_workshop_2.jpg"
            class="img-fluid" alt="Agile Developer Workshop 2">
        </div>
        <div class="col-md-4">
          <img src="/assets/images/code_school/agile_lecture_color.jpg"
            class="img-fluid" alt="Agile Developer Lecture">
        </div>
      </div>
    </div>

    <div class="contact">
      <h5 class="thai">สนใจเรียน</h5>
      <hr class="my-1">
      <br>
      <div class="thai">ติดต่อเพื่อเช็คเวลาเรียน</div>
      <div class="contact-item">
        <a href="tel:66-80-441-4062">
          <img src="/assets/images/mobile_phone.png">
        +(66)80-441-4062</a>
      </div>
      <div class="contact-item">
        <a href="https://www.facebook.com/thecodetime" target="_blank" alt="The Code Time - Facebook">
          <img src="/assets/images/facebook.png">@thecodetime</a>
      </div>
      <div class="contact-item">
        <a href="mailto:contact@thecodetime.com" alt="The Code Time email">
          <img src="/assets/images/email.png">contact@thecodetime.com</a>
      </div>
    </div>

  </div>
</div>
{{end}}

