{{define "content"}}
<div id="course">
  <div class="hero-image"
    style="background-image:
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
    url('/assets/images/courses/being_frontend_developer/front.jpg');
    background-position: center">
    <div class="container">
      <div class="hero-text text-center">Being Frontend Developer</div>
    </div>
  </div>
  <div class="container mb-5 story-container">
    <div class="section mt-5">
      <h5>Being Frontend Developer</h5>
      <hr class="my-1">
      <p class="thai">เริ่มต้นเป็น website developer จากพื้นฐานการเขียนโปรแกรมฟังก์ชั่นการทำงานของเว็บไซต์ การออกแบบตกแต่งความสวยงามของเว็บไซต์ คอร์สนี้เน้นพื้นฐาน ความเข้าใจต่างๆตั้งแต่กระบวนความคิดในการสร้างผลงานเว็บไซต์ ตั้งแต่เบื้องต้น การใช้งานที่ผู้ใช้ต้องการ การเลือกสรรเครื่องมือในการพัฒนา ขั้นตอนการทำงานต่างๆ จนถึงการที่ผู้เรียนสามารถนำไปต่อยอดกับงานหรือธุรกิจของตัวเองได้</p>
      <div class="thai mt-4">
        <div>
          <img src="/assets/images/boy.png" alt="target students" style="width: 2em; margin-right: -1.2em;">
          <img src="/assets/images/woman.png" alt="target students" style="width: 2em; z-index: -1; position: relative;">
          เหมาะสำหรับ
        </div>
        <div>
          <ul>
            <li>ผู้ที่เริ่มต้น ยังไม่มีประสบการณ์แต่สนใจที่ทำงานในสายพัฒนาเว็บไซต์ website development หรือนำไปพัฒนาต่อยอดกับธุรกิจของตนเอง</li>
            <li>ผู้ที่มีพื้นฐานเบื้องต้น และอยากจะเรียนรู้ขั้นตอนต่างๆที่ใช้ในการทำงานจริงในองค์กร หรือการรับงาน freelance</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="topics thai">
      <h5>เนื้อหาที่ครอบคลุม</h5>
      <hr class="my-1">
      <ul>
        <li>
          <div>การคิดวิเคราะห์ ขั้นตอนการแก้ไขปัญหาต่างๆ เพื่อปูพื้นฐานในการเป็นนักพัฒนาและการแก้ไขปัญหาต่างๆ</div>
          <div class="subtext">Algorithm, Work flow, Logical Thinking</div>
        </li>
        <li>
          <div>ออกแบบหน้าตาและการใช้งานของเว็บไซต์ แล้วเริ่มสร้างเว็บไซต์ด้วย HTML CSS</div>
          <div class="subtext">Website design, UX/UI, HTML, CSS, Bootstrap CSS</div>
        </li>
        <li>
          <div>เพิ่มเติมลูกเล่น และพัฒนาเว็บไซต์ด้วย JavaScript</div>
          <div class="subtext">JavaScript Programming, JQuery</div>
        </li>
        <li>
          <div>การนำเว็บไซต์ขึ้น server เพื่อให้คนทั่วไปได้ใช้งาน</div>
          <div class="subtext">Domain name registration, Web server configuration</div>
        </li>
      </ul>
    </div>

  </div>
  <div>
    <div class="container story-container">
      <h5 class="thai">ดีไซน์ที่สามารถทำได้เมื่อเรียนจบ</h5>
      <hr class="my-1">
    </div>
    <div class="thai course-images mt-5" style="background-image:
    url('/assets/images/courses/being_frontend_developer/templates.jpg');
    background-position: center; height: 500px; background-repeat: no-repeat;"></div>
    <div class="text-center mt-3">
      <small style="color: #DEDEDE">credit: pinterest.com</small>
    </div>
  </div>
  <div class="container story-container mb-5">
    <div class="contact">
      <h5 class="thai">สนใจเรียน</h5>
      <hr class="my-1">
      <br>
      <div class="thai">ติดต่อเพื่อเช็คเวลาเรียน</div>
      <div class="contact-item">
        <a href="tel:66-80-441-4062">
          <img src="/assets/images/mobile_phone.png">
        +(66)80-441-4062</a>
      </div>
      <div class="contact-item">
        <a href="https://www.facebook.com/thecodetime" target="_blank" alt="The Code Time - Facebook">
          <img src="/assets/images/facebook.png">@thecodetime</a>
      </div>
      <div class="contact-item">
        <a href="mailto:contact@thecodetime.com" alt="The Code Time email">
          <img src="/assets/images/email.png">contact@thecodetime.com</a>
      </div>
    </div>
  </div>

</div>
{{end}}


