{{define "content"}}
<div id="contact">
  <div class="hero-image">
    <div class="container">
      <div class="hero-text text-center" style="color: #323232;">Talk to Us</div>
    </div>
  </div>
  <div class="container mb-5">
    <div class="section mt-5 mb-4 thai">
      <h5>สอบถามพูดคุยกับเราได้</h5>
      <hr class="my-1">
    </div>
    <p class="thai">สอบถามคอร์สที่สนใจเรียน หรือหัวข้อที่สนใจอยากจะเรียนรู้
    เราสามารถที่จะเพิ่มหัวข้อได้ตลอดเวลา เพื่อให้ตรงกับความต้องการของผู้เรียนมากที่สุด</p>
    <div class="contact-item">
      <a href="tel:66-80-441-4062">
        <img src="/assets/images/mobile_phone.png">
      +(66)80-441-4062</a>
    </div>
    <div class="contact-item">
      <a href="https://www.facebook.com/thecodetime" target="_blank" alt="The Code Time - Facebook">
        <img src="/assets/images/facebook.png">@thecodetime</a>
    </div>
    <div class="contact-item">
      <a href="mailto:contact@thecodetime.com" alt="The Code Time email">
        <img src="/assets/images/email.png">contact@thecodetime.com</a>
    </div>
  </div>

</div>
{{end}}


