{{define "title"}}&nbsp;- Good time to Code{{end}}
{{define "content"}}
<div class="hero-bg">
  <div class="top-hero-bg"></div>
  <div class="text-center site-logo">
    {{template "codetime-diamond"}}
  </div>
  <ul class="nav mt-3">
    <li><a class="primary" title="Code School" href="#">Code School</a></li>
    <li><a class="primary" title="Learning" href="#">Learning</a></li>
    <li><a class="primary" title="Our Work" href="#">Our Work</a></li>
    <li><a class="primary" title="Talk to Us" href="#">Talk to Us</a></li>
  </ul>
  <div class="text-center hero-container">
    <span class="hero-text">It's a good time to code.<span class="cursor flash"></span></span>
  </div>
</div>
{{end}}
