{{define "title"}}&nbsp;- Good time to Code{{end}}
{{define "content"}}
<div id="home">
  <div class="hero-bg">
    <div class="top-hero-bg"></div>
    <div class="text-center site-logo">
      {{template "codetime-diamond"}}
    </div>
    <ul class="nav">
      <li><a class="primary" title="Code School" href="/courses">Code School</a></li>
      <!-- <li><a class="primary" title="Learning" href="/learning">Learning</a></li> -->
      <li><a class="primary" title="Our Work" href="#">Our Work</a></li>
      <li><a class="primary" title="Talk to Us" href="/contact">Talk to Us</a></li>
    </ul>
    <div class="text-center hero-container">
      <span class="hero-text">It's a good time to code.<span class="cursor flash"></span></span>
    </div>
  </div>

  <div class="row no-gutters code-school">
    <div class="col-lg-5">
      <div class="row no-gutters">
        <div class="col-sm-8 col-lg-12">
          <div class="photo-grid" style="background-image: url('/assets/images/code_school/agile_course.jpg')"></div>
        </div>
        <div class="col-sm-4 d-none d-sm-block d-lg-none">
          <div class="photo-grid bg-pos-x-75" style="background-image:
            url('/assets/images/code_school/agile_workshop_3.jpg')"></div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-4">
          <div class="photo-grid" style="background-image:
            url('/assets/images/code_school/agile_lecture.jpg')"></div>
        </div>
        <div class="col-8">
          <div class="photo-grid" style="background-image:
            url('/assets/images/code_school/agile_workshop_2.jpg')"></div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-7">
          <div class="photo-grid" style="background-image:
            url('/assets/images/code_school/git_course.jpg')"></div>
        </div>
        <div class="col-5">
          <div class="photo-grid bg-pos-x-35" style="background-image:
            url('/assets/images/code_school/git_workshop_2.jpg')"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="content-body">
        <div class="section">
          <div class="title">Code School</div>
          <div class="sub-text">Learning by Doing</div>
        </div>
        <p class="thai mt-5">เพราะว่าการเรียนรู้ที่ดีที่สุดคือการลงมือทำ คอร์สของเราเน้นถ่ายทอดประสบการณ์และให้นักเรียนได้ลงมือปฏิบัติจริงใน workshop เป็นทีม นอกจากจะได้ทักษะและเทคนิคแล้ว ยังได้ฝึกฝนการทำงานเป็นทีม และรู้จักกับเพื่อนใหม่ๆอีกด้วย</p>
        <p class="thai mt-2 mb-4">คอร์ส workshop เพื่อการเรียนรู้เชิงลึก</p>
        <div>
          <div class="row no-gutters workshop">
            <div class="col-md-6 pr-md-3">
              <div class="topic workshop">
                <div class="icon icon-keyboard"></div>
                <div class="ml-3">
                  <b class="topic-title">WORKSHOP</b>
                  <p class="thai mt-1">ไม่พลาดการเรียนรู้ ได้ลงมือทำในทุกขั้นตอน</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 pl-md-3">
              <div class="topic team-exp">
                <div class="icon icon-chat"></div>
                <div class="ml-3">
                  <b class="topic-title">TEAM EXPERIENCE</b>
                  <p class="thai mt-1">ทำงานเป็นทีม เพื่อฝึกฝนการทำงานอย่างมีประสิทธิภาพในองค์กร</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row no-gutters mt-2">
            <div class="col-md-6 pr-md-3">
              <div class="topic getting-tough">
                <div class="icon icon-strong"></div>
                <div class="ml-3">
                  <b class="topic-title">GETTING TOUGH</b>
                  <p class="thai mt-1">จัดเต็มทุกเนื้อหาให้คุณได้แกร่งในสนามการแข่งขัน</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 pl-md-3">
              <div class="topic career-growth">
                <div class="icon icon-career"></div>
                <div class="ml-3">
                  <b class="topic-title">CAREER GROWTH</b>
                  <p class="thai mt-1">พัฒนาสายงานตัวเอง ด้วยทักษะและเทคนิคจากเนื้อหาที่เรียน</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="btn btn-primary thai mt-4" href="/courses">รายละเอียดคอร์ส</a>
      </div>
    </div>
  </div>

  <div class="better-team-work">
    <div class="title">
      <span>Better</span> Team Work is the Key
    </div>
    <ul class="mt-2">
      <li><span class="icon icon-flash"></span><span>Faster</span></li>
      <li><span class="icon icon-flexible"></span>Flexible</li>
      <li><span class="icon icon-happy"></span>Fun</li>
    </ul>
    <div class="text-center mt-5">
      <p class="thai">เพราะการทำงานเป็นทีม คือหัวใจสำคัญของผลงานที่ดี Code Time
        เน้นถ่ายทอดประสบการณ์ เทคนิคในการทำงานเป็นทีมที่ เร็วขึ้น ดีขึ้น และสนุกกับการทำงาน</p>
    </div>
  </div>

  <div class="row no-gutters design-develop">
    <div class="col-lg-5">
      <div class="left-image"></div>
    </div>
    <div class="col-lg-7 gradient-blue-bg">
      <div class="content-body">
        <div class="section">
          <div class="title">We Design &amp; Develop</div>
        </div>
        <p class="thai mt-5">เราพัฒนาและดูแลสื่อดิจิตอลและระบบทางไอที ไม่ว่าจะเป็น website,
        mobile applications, Online Marketing, SEO ต่างๆ</p>
        <p class="thai mt-2 mb-4">เพราะเว็บไซต์และแอพพลิเคชั่นไม่ใช่แค่สิ่งที่ควรต้องมี
        แต่เป็นสิ่งที่ขาดไม่ได้ในปัจจุบันของทุกๆธรุกิจ เราไม่ได้มุ่งแค่สร้างสรรค์ผลิตภัณท์ต่างๆให้เร็วและดีที่สุด
        แต่ต้องตอบโจทย์ความต้องการของลูกค้าและ<span style="text-decoration: underline;">ให้ธุรกิจของลูกค้าเดินหน้าต่อไปได้มากที่สุด</span>
        </p>
        <div>
          <div class="row no-gutters mt-5">
            <div class="col-md-6 pr-md-3">
              <div class="topic">
                <div class="icon icon-customize"></div>
                <div class="ml-3">
                  <b class="topic-title">CUSTOMIZATION</b>
                  <p class="thai mt-1">พัฒนาเพื่อตอบสนองธุรกิจเฉพาะเจาะจงของลูกค้า</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 pl-md-3">
              <div class="topic">
                <div class="icon icon-handshake"></div>
                <div class="ml-3">
                  <b class="topic-title">PARTNERSHIP</b>
                  <p class="thai mt-1">ลูกค้าเปรียบเสมือนหุ้นส่วนทางธุรกิจ
                  ความก้าวหน้าของลูกค้าคือจุดมุ่งหมายของเรา</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row no-gutters mt-2">
            <div class="col-md-6 pr-md-3">
              <div class="topic">
                <div class="icon icon-shield"></div>
                <div class="ml-3">
                  <b class="topic-title">ROBUST &amp; RELIABLE</b>
                  <p class="thai mt-1">ไม่ใช่แค่เร็ว แต่ระบบต้องเสถียรและปลอดภัย</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 pl-md-3">
              <div class="topic">
                <div class="icon icon-heart"></div>
                <div class="ml-3">
                  <b class="topic-title">SUPPORT WITH HEART</b>
                  <p class="thai mt-1">เราดูแลและให้คำปรึกษาแนะนำไปตลอดควบคู่กับธรุกิจของลูกค้า</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="btn btn-primary btn-dark-navy thai mt-5" href="#">เริ่มต้นโปรเจคกับเรา</a>
      </div>
    </div>
  </div>

  <div style="background-color: #29292C;">
  <div class="container">
  <div class="our-customers row no-gutters">
    <div class="col-lg-5 customers">
      <div class="row no-gutters first-customers">
        <div class="col-6 text-center">
          <span class="icon icon-saucony"></span>
        </div>
        <div class="col-6 text-center">
          <span class="icon icon-cbt-travel"></span>
        </div>
      </div>
      <div class="row no-gutters second-customers mt-5">
        <div class="col-4 text-center">
          <span class="icon icon-maneechan"></span>
        </div>
        <div class="col-4 text-center">
          <span class="icon icon-tra-auto"></span>
        </div>
        <div class="col-4 text-center">
          <span class="icon icon-etna"></span>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="content-body">
        <div class="section">
          <div class="title">Who Trusts Our Services</div>
        </div>
        <p class="thai mt-5">เราได้สร้างสรรค์งานเว็บไซต์และดูแลระบบให้กับลูกค้าหลากลายธรุกิจที่ต้องการระบบที่มีจุดเด่นที่แตกต่างกัน</p>
        <p class="thai mt-2 mb-4">เราจะช่วยพัฒนาและดูแลระบบพร้อมให้คำปรึกษาตลอดควบคู่กับธุรกิจของลูกค้าทุกๆคน</p>
        <a class="btn btn-default thai mt-5" href="#">
          <span class="icon icon-handshake"></span>
          <span class="align-middle">ให้เราช่วยพัฒนาธุรกิจของคุณ</span>
        </a>
      </div>
      <img src="/assets/images/good_deal.png" alt="Good Deal at Code Time">
    </div>
  </div>
  </div>
  </div>
</div>
{{end}}
