{{define "content"}}
<div id="our_work">
  <div class="hero-image">
    <div class="container">
      <div class="hero-text text-center">Our Work</div>
    </div>
  </div>

  <div>
    <div class="row no-gutters product-types">
      <div class="col-md-5 ecommerce-container">
        <div class="ecommerce-image"></div>
      </div>
      <div class="col-md-7">
        <div class="content-body">
          <div class="section">
            <div class="title">We Design &amp; Develop</div>
            <div class="sub-text">Ecommerce, Websites, Apps</div>
            <p class="thai mt-5">Code Time
            เป็นที่ปรึกษาและพัฒนาสื่อดิจิตอลและระบบต่างๆทางไอที เราเชี่ยวชาญการพัฒนาเว็บไซต์
            แอพพลิเคชั่นต่างๆ, <span class="hilight">E-Commerce</span>,
            <span class="hilight">Marketing websites</span> นอกจากระบบที่ง่ายและปลอดภัย เรายังช่วยดูแลเรื่องต่างๆ ที่เป็นปัจจัยต่อธุรกิจของลูกค้าเช่น SEO, การเชื่อมต่อกับ social networks ต่างๆ</p>
            <p class="thai mt-2 mb-4"><u>ผลิตภัณฑ์ของเราถูกสร้างสรรค์เพื่อให้เหมาะกับธุรกิจแต่ละธุรกิจ</u> เราพัฒนาใหม่ตามความต้องการจริง ลูกค้าสามารถปรับเปลี่ยนได้ตามความต้องการ เพิ่มสร้างความแตกต่างทางธุรกิจและตอบสนองคนใช้งานได้ดีที่สุด</p>

            <div>
              <div class="row no-gutters mt-5">
                <div class="col-md-6 pr-md-3">
                  <div class="topic">
                    <div class="icon icon-customize"></div>
                    <div class="ml-3">
                      <b class="topic-title">FULLY CUSTOMIZABLE</b>
                      <p class="thai mt-1">พัฒนาเพื่อตอบสนองธุรกิจเฉพาะเจาะจงของลูกค้า</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pr-md-3">
                  <div class="topic">
                    <div class="icon icon-handshake"></div>
                    <div class="ml-3">
                      <b class="topic-title">PARTNERSHIP</b>
                      <p class="thai mt-1">ลูกค้าเปรียบเสมือนหุ้นส่วนทางธุรกิจ
                      ความก้าวหน้าของลูกค้าคือจุดมุ่งหมายของเรา</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters mt-2">
                <div class="col-md-6 pr-md-3">
                  <div class="topic">
                    <div class="icon icon-shield"></div>
                    <div class="ml-3">
                      <b class="topic-title">ROBUST &amp; RELIABLE</b>
                      <p class="thai mt-1">ไม่ใช่แค่เร็ว แต่ระบบต้องเสถียรและปลอดภัย</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pr-md-3">
                  <div class="topic">
                    <div class="icon icon-heart"></div>
                    <div class="ml-3">
                      <b class="topic-title">SUPPORT WITH HEART</b>
                      <p class="thai mt-1">เราดูแลและให้คำปรึกษาแนะนำไปตลอดควบคู่กับธรุกิจของลูกค้า</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="customers">
    <div class="container pt-5 pb-5">
      <div class="section text-center mt-5">
        <div class="title">Who Trusts Our Services</div>
      </div>
      <div class="d-flex mt-4 customer align-items-center">
        <span class="icon icon-maneechan" style="font-size: 4em"></span>
        <span class="thai text">ระบบเว็บไซต์สำหรับโรงแรม รายละเอียดห้องพัก photo
          gallery ต่างๆ รวมถึงการดูแลในส่วนของ SEO และเชื่อมต่อกับระบบจองของโรงแรม
          <a href="https://www.maneechan.com" target="_blank">(maneechan.com)</a>
        </span>
      </div>
      <div class="mt-4 customer align-items-center d-none d-md-flex">
        <span class="icon icon-cbt-travel" style="font-size: 2.5em"></span>
        <span class="thai text">เว็บไซต์สารบัญความรู้ท่องเที่ยวเชิงชุมชน Community Based
          Tourism (CBT) ที่เน้นให้ตวามรู้และได้ประสบการณ์จากคนในพื้นที่อย่างลึกซึ้ง
          เว็บไซต์เก็บรวบรวมข้อมูลที่น่าสนใจ photo gallery และการจองที่พักต่างๆ
          <a href="https://www.chanthaburicbttravel.com" target="_blank">(chanthaburicbttravel.com)</a>
        </span>
      </div>
      <div class="d-flex mt-4 customer align-items-center">
        <span class="icon icon-tra-auto" style="font-size: 3.5em"></span>
        <span class="thai text">E-commerce เว็บไซต์เต็มรูปแบบ รองรับหลายภาษา ระบบตระกร้าสินค้า แสดงค้นหาสิ้นค้าใกล้เคียงตามความสนใจของลูกค้า ระบบหลังบ้านสำหรับผู้ดูแลเพื่อใช้ในการจัดการสินค้าต่างๆ ระบบซื้อขายและแจ้งเตือน
          <a href="https://www.traautoparts.com" target="_blank">(traautoparts.com)</a>
        </span>
      </div>
      <div class="thai text-center mt-4 other-customers">
        <div>- และลูกค้าอื่นๆที่ไว้วางใจเรา -</div>
        <div class="mt-3">
          <span class="icon icon-saucony" style="font-size: 2em"></span>
          &nbsp;
          <span class="icon icon-etna" style="font-size: 3em"></span>
        </div>
      </div>
    </div>

<div class="text-center pb-5">
  <div class="contact">
    <h5 class="thai mb-4 mt-2">เริ่มโปรเจคกับเรา</h5>
    <div class="contact-item">
      <a href="tel:66-80-441-4062">
        <img src="/assets/images/mobile_phone.png">
      +(66)80-441-4062</a>
    </div>
    <div class="contact-item">
      <a href="https://www.facebook.com/thecodetime" target="_blank" alt="The Code Time - Facebook">
        <img src="/assets/images/facebook.png">@thecodetime</a>
    </div>
    <div class="contact-item">
      <a href="mailto:contact@thecodetime.com" alt="The Code Time email">
        <img src="/assets/images/email.png">contact@thecodetime.com</a>
    </div>
  </div>

  </div>
</div>


</div>
{{end}}

