{{define "content"}}
<div id="learning">
  <div class="hero-image">
    <div class="container">
      <div class="hero-text text-right">Take the Next Step</div>
    </div>
  </div>
  <div class="container mb-5 story-container">
    <div class="section mt-5 mb-4">
      <h5>Learning</h5>
      <hr class="my-1">
    </div>

    <div class="row topics">
      {{range .Articles}}
        <div class="col-sm-6">
          <div class="topic">
            <a class="thumbnail-link" href="{{.Link}}" target="_blank">
              <div class="thumbnail" style="background-image:
              url('{{.Image}}');"></div>
            </a>
            <div class="info">
              <a href="{{.Link}}" target="_blank">
                <div class="title">{{.Title}}</div>
                <div class="brief mt-2">{{.Body}}</div>
              </a>
              <div class="author">
                <img src="{{.Avatar}}" alt="{{.Name}}">
                <div class="ml-2">
                  <div class="name">{{.Name}}</div>
                  <div class="date">{{.Published}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{end}}
    </div>

  </div>
</div>
{{end}}
